body {
  overflow-x: hidden;
}

:root {
  --color-text-black: rgba(37, 37, 37, 0.774);
  --bg-white: #fefffe;
  --bg-grey: #f4f4f5;
}

p {
  margin: 0px !important;
  padding: 0px !important;
}

.black_text_color {
  color: var(--color-text-black) !important;
}

.bg_white {
  background-color: var(--bg-white);
}

.bg_grey {
  background-color: var(--bg-grey);
}

.nav_dropdown_menu {
  width: calc(50rem + 20vw) !important;
  margin-left: -30vh !important;
}

.img_section_img_div {
  position: relative;
  height: 200px;
  width: 100%;
}

.img_section_vertical_img_div {
  position: relative;
  height: 200px;
  width: 100%;
}

.recant_product_card {
  border: 1px solid rgb(219, 217, 217);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
}
.recant_product_card:hover {
  border: 1px solid orange;
}

.cp {
  cursor: pointer !important;
}

.no_selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.best_seller_product_card {
  border: 1px solid rgba(219, 217, 217, 0.349);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 250ms ease-in-out;
}

.best_seller_product_card:hover {
  border: 1px solid orange;
}

.mixed_section {
  background-color: #f4f5f4a2;
}

.mixed_section_product_card {
  border: 1px solid rgba(219, 217, 217, 0.404);
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
.mixed_section_product_card:hover {
  border: 1px solid orange;
}

.offer_carousel {
  background-color: white;
}

.fz30 {
  font-size: 30px;
}

.category_card {
  border: 1px solid rgba(219, 217, 217, 0.404);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.category_card:hover {
  border: 1px solid orange;
}

.footer_icon {
  cursor: pointer;
  color: grey;
  font-size: 22px;
  transition: all 200ms ease-in-out;
}
.footer_icon:hover {
  color: orange;
}

.footer_wrapper {
  background-color: #f5f5f5;
}

.footer_app_store_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(219, 217, 217, 0.863);
  /* width: 300px; */
  padding: 20px 10px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.footer_app_store_card:hover {
  border: 1px solid orange;
}

.bg_orange {
  background-color: orange !important;
}

.color_white {
  color: white !important;
}

.my_link {
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.my_link:hover {
  color: orange !important;
}

.bg_dark {
  background-color: #494948 !important;
}

.para_text {
  color: rgba(22, 22, 22, 0.863);
  font-size: 17.5px;
}

.services_round {
  border: 1px solid rgba(219, 217, 217, 0.863) !important;
  border-radius: 50%;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.services_round:hover {
  border: 1px solid orange !important;
}

.color_orange {
  color: orange !important;
}

.mb_minus_5 {
  margin-bottom: -10px !important;
}

.single_product_right {
  background-color: #f5f5f5;
}

.quantity_calculator {
  border: 1px solid rgba(172, 169, 169, 0.397);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 120px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.my_button {
  background-color: orange !important;
  color: white !important;
}

.outline_button {
  border-color: orange !important;
  font-weight: 600 !important;
  color: rgba(37, 37, 37, 0.774) !important;
}
.outline_button:hover {
  background-color: #494948 !important;
  color: white !important;
  border-color: #494948 !important;
}
.outline_button_selected {
  background-color: orange !important;

  color: white !important;
  font-weight: 600 !important;
}

.register_input {
  box-shadow: none !important;
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

.register_button {
  background-color: orange !important;
  color: white !important;
  font-weight: 600 !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.check_box {
  border-color: orange !important;
}
.check_box:checked {
  background-color: orange !important;
  border-color: orange !important;
}

.forgot {
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.forgot:hover {
  color: orange;
}

.inside_input {
  border: none !important;
  outline: none !important;
}

.cp_hover {
  cursor: pointer !important;
  transition: all 200ms ease-in-out;
}
.cp_hover:hover {
  color: orange !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: orange !important;
}
.dropdown-item:hover {
  background-color: orange !important;
  color: white !important;
}

.bottom_nav {
  background-color: orange !important;
  display: flex;
  align-items: center;
}

.yadav {
  border: 1px solid rgba(128, 128, 128, 0.616);
}

.form-control:focus {
  border-color: orange !important;
}

.cat_button {
  outline: none !important;
  border: none !important;
  font-weight: 600 !important;
  color: white !important;
  background-color: #494948 !important;
}

.color_dark {
  color: #494948 !important;
}
.search_button {
  background-color: #494948 !important;
  color: white !important;
  font-weight: 600 !important;
}

.nav_circle {
  cursor: pointer;
  border: 1px solid #494948 !important;
  transition: all 200ms ease-in-out;
  color: #494948 !important;
}

.nav_circle:hover {
  border: 1px solid #494948 !important;

  background-color: #494948 !important;
  color: white !important;
}

.nav_cat_link {
  font-weight: 400 !important;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  color: #494948;
  margin-bottom: 7px;
}

.nav_cat_link:hover {
  color: orange !important;
}

.min_height_100_error_page {
  min-height: 65vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

.contact_input_field {
  border: 0;
  outline: 0;
  border-radius: 3px !important;
  border-bottom: 1px solid var(--color-blue);
  margin-top: 30px;
  margin-bottom: 5px;
}

.contact_input_field:focus {
  box-shadow: none !important;
}

.google_map_section {
  margin: calc(3rem + 2vh) 0px;
}

.send_button {
  border: 1px solid orange !important;
  background-color: orange !important;
  font-weight: 600 !important;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
}

.send_button:focus {
  border: 1px solid #494948 !important;
}

.hero_carousel {
  height: 55vh;
}

.hero_h1 {
  font-size: 60px !important;
  font-weight: normal !important;
}

.nav_active {
  color: orange !important;
}

.card_product_card {
  border: 1px solid rgba(128, 128, 128, 0.315);
  transition: all 250ms ease-in-out;
}

.card_product_card:hover {
  border: 1px solid orange;
  transform: translateY(-2px);
}

.icon_bg_div {
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.icon_bg_div:hover {
  color: orange !important;
}

.select_size_input_custom {
  height: 25px !important;
  width: 25px !important;
  border-radius: 0% !important;
  /* background-color: var(--color-white) !important; */
  box-shadow: none !important;
  border-color: none !important;
  cursor: pointer;
}

.select_size_input_custom:focus {
  background-color: var(--color-orange) !important;
  border-color: var(--color-orange) !important;
}
.select_size_input_custom:checked {
  background-color: var(--color-orange) !important;
  border-color: var(--color-orange) !important;
}

.select_size_input_custom_label {
  font-size: 20px !important;
  padding-left: 7px;
  padding-right: 15px;
}

.select_color_input_custom {
  padding: 10px !important;
  background-color: var(--color-white) !important;
  box-shadow: none !important;
  border-color: none !important;
  cursor: pointer;
}

.select_color_input_custom:focus {
  background-color: orange !important;
  border-color: orange !important;
}
.select_color_input_custom:checked {
  background-color: orange !important;
  border-color: orange !important;
}

.select_size_input_custom_label {
  font-size: 20px !important;
  padding-left: 7px;
  padding-right: 15px;
}

.checkout_input {
  box-shadow: none !important;
}
.checkout_input:focus {
  border-color: orange !important;
}

.checkout_button {
  color: var(--color-white) !important;
  background-color: orange !important;
  color: white !important;
  font-weight: 600 !important;
  font-size: 20px !important;
}

.cat_bar {
  background-color: #e5e5e55d;
}

.favourite_cat {
  transition: all 200ms ease-in-out;
  padding-left: 15px;
  cursor: pointer;
}
.favourite_cat:hover {
  background-color: orange;
  color: white;
}

.single_product_icon {
  background-color: #49494815;
  border-radius: 50%;
  padding: 5px;
  transition: all 150ms ease-in-out;
}

.single_product_icon:hover {
  background-color: orange;
  color: white !important;
  transform: translateY(-2px);
}

.ant-steps-item-process .ant-steps-item-icon {
  background-color: orange !important;
  border-color: orange !important;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: green !important;
  font-weight: 500 !important;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: orange !important;
  font-weight: 500 !important;
}

.ant-steps .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: rgba(0, 0, 0, 0.45);
  font-weight: 500 !important;
}

.ant-steps-item-icon {
  background-color: rgba(192, 241, 192, 0.753) !important;
}
