.nav_dropdown_menu {
  width: calc(50rem + 20vw) !important;
  margin-left: -30vh !important;
  height: 60vh !important;
}

.img_section_img_div {
  position: relative;
  height: 200px;
  width: 100%;
}

.img_section_vertical_img_div {
  position: relative;
  height: 200px;
  width: 100%;
}

.recant_product_card {
  border: 1px solid rgb(219, 217, 217);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cp {
  cursor: pointer !important;
}

.no_selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.best_seller_product_card {
  border: 1px solid rgba(219, 217, 217, 0.349);
  display: flex;
  flex-direction: column;
  align-items: center;
}
