html,
body {
  padding: 0 !important;
  margin: 0 !important;
  overflow-x: hidden !important;
}

p {
  padding: 0px !important;
  margin: 0px !important;
}

li {
  list-style: none;
}

:root {
  --bg-white: #fefffe;
  --bg-grey: #f4f4f5;
  --color-black: #494948;
}

input::placeholder {
  font-size: 14px !important;
}

.color-orange {
  color: orange;
}

.form-control:focus {
  border-color: var(--color-black) !important;
  box-shadow: none !important;
}

.fz_12 {
  font-size: 12px !important;
}

.fz_13 {
  font-size: 13px !important;
}

.fz_14 {
  font-size: 14px !important;
}

.fz_15 {
  font-size: 15px;
}

.fz_16 {
  font-size: 16px;
}

.fz_17 {
  font-size: 17px;
}

.fz_18 {
  font-size: 18px !important;
}

.fz_19 {
  font-size: 19px !important;
}

.fz_20 {
  font-size: 20px !important;
}

.color-black {
  color: var(--color-black) !important;
}

.bg-white {
  background-color: var(--bg-white);
}

.bg-custom-grey {
  background-color: var(--bg-grey);
}

.cursor-pointer {
  cursor: pointer !important;
}

.no-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.footer_icon {
  cursor: pointer;
  color: grey;
  font-size: 22px;
  transition: all 200ms ease-in-out;
}
.footer_icon:hover {
  color: orange;
}

.footer_app_store_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(219, 217, 217, 0.863);
  padding: 20px 10px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.footer_app_store_card:hover {
  border: 1px solid orange;
}

.bg-orange {
  background-color: orange !important;
}

.color-white {
  color: white !important;
}

.my_link {
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.my_link:hover {
  color: orange !important;
}

.services_round {
  border: 1px solid rgba(219, 217, 217, 0.863) !important;
  border-radius: 50%;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.services_round:hover {
  border: 1px solid orange !important;
}

.color-orange {
  color: orange !important;
}

.quantity_calculator {
  border: 1px solid var(--color-black);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 120px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.my_button {
  background-color: orange !important;
  color: white !important;
}

.outline_button {
  border-color: orange !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  color: var(--color-black) !important;
}
.outline_button:hover {
  background-color: var(--color-black) !important;
  color: white !important;
  border-color: var(--color-black) !important;
}
.outline_button_selected {
  background-color: orange !important;
  color: white !important;
  font-weight: 500 !important;
  font-size: 12px !important;
}

.register_input {
  box-shadow: none !important;
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

.register_button {
  background-color: orange !important;
  color: white !important;
  font-weight: 600 !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.check_box {
  border-color: orange !important;
}
.check_box:checked {
  background-color: orange !important;
  border-color: orange !important;
}

.forgot {
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.forgot:hover {
  color: orange;
}

.inside_input {
  border: none !important;
  outline: none !important;
}

.cursor-pointer-hover {
  cursor: pointer !important;
  transition: all 200ms ease-in-out;
}
.cursor-pointer-hover:hover {
  color: orange !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: orange !important;
}
.dropdown-item:hover {
  background-color: orange !important;
  color: white !important;
}

.bottom_nav {
  background-color: orange !important;
  display: flex;
  align-items: center;
}

.form-control:focus {
  border-color: orange !important;
}

.global-dark-button {
  background-color: var(--color-black) !important;
  color: white !important;
  font-weight: 600 !important;
}

.nav-icon-hover {
  cursor: pointer;
  transition: all 200ms ease-in-out;
  color: var(--color-black) !important;
  cursor: pointer;
}

.nav-icon-hover:hover {
  border-radius: 50%;
  color: white !important;
  cursor: pointer;
}

.nav-category-link {
  font-weight: 400 !important;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  color: var(--color-black);
  margin-bottom: 7px;
}

.nav-category-link:hover {
  color: orange !important;
}

.min_height_100_error_page {
  min-height: 65vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

.contact_input_field {
  border: 0;
  outline: 0;
  border-radius: 3px !important;
  border-bottom: 1px solid var(--color-blue);
  margin-top: 30px;
  margin-bottom: 5px;
}

.contact_input_field:focus {
  box-shadow: none !important;
}

.google_map_section {
  margin: calc(3rem + 2vh) 0px;
}

.send_button {
  border: 1px solid orange !important;
  background-color: orange !important;
  font-weight: 600 !important;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
}

.send_button:focus {
  border: 1px solid var(--color-black) !important;
}

.nav_active {
  color: orange !important;
}

.select_size_input_custom {
  height: 25px !important;
  width: 25px !important;
  border-radius: 0% !important;
  box-shadow: none !important;
  border-color: none !important;
  cursor: pointer;
}

.select_size_input_custom:focus {
  background-color: var(--color-orange) !important;
  border-color: var(--color-orange) !important;
}
.select_size_input_custom:checked {
  background-color: var(--color-orange) !important;
  border-color: var(--color-orange) !important;
}

.select_size_input_custom_label {
  padding-left: 7px;
  padding-right: 15px;
}

.select_color_input_custom {
  padding: 6px !important;
  background-color: var(--color-white) !important;
  box-shadow: none !important;
  border-color: none !important;
  cursor: pointer;
}

.select_color_input_custom:focus {
  background-color: orange !important;
  border-color: orange !important;
}
.select_color_input_custom:checked {
  background-color: orange !important;
  border-color: orange !important;
}

.checkout_button {
  color: var(--color-white) !important;
  background-color: orange !important;
  color: white !important;
  font-weight: 600 !important;
  font-size: 20px !important;
}

.single_product_icon {
  transition: all 0.2s ease-in-out;
}

.single_product_icon:hover {
  color: orange;
}

.ant-steps-item-process .ant-steps-item-icon {
  background-color: orange !important;
  border-color: orange !important;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: green !important;
  font-weight: 500 !important;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: orange !important;
  font-weight: 500 !important;
}

.ant-steps .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: rgba(0, 0, 0, 0.45);
  font-weight: 500 !important;
}

.ant-steps-item-icon {
  background-color: rgba(192, 241, 192, 0.753) !important;
}

.swiper-pagination-bullet-active {
  background: orange !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 24px !important;
  color: orange !important;
}

.product_wrapper:hover .product_name {
  text-decoration: underline !important;
  cursor: pointer;
}

.hover_underline:hover {
  text-decoration: underline !important;
}

.store_name_hover:hover {
  background-color: orange !important;
  color: white !important;
}
